<div class="container">
  <form
    action="/artist-search"
    method="GET"
    enctype="application/x-www-form-urlencoded"
  >
    <label for="artist"></label>
    <input type="text" name="artist" id="artist" placeholder="The Beatles" />
    <button>Search for an Artist</button>
  </form>
</div>